/* reset begin  */
html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f4f8;
	font-family: 'arial','sans-serif';
	font-size: 1rem;
}

/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */
pre,
/* text formatting elements 文本格式元素 */
fieldset,
lengend,
button,
input,
textarea,
/* form elements 表单元素 */
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol,
li {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: $gray-darker;
}

a:active {
	color: $spec-green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none !important;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="text"], input[type="tel"] {
-webkit-appearance: none;
}

textarea {  -webkit-appearance: none;}

input:focus,
button:focus {
  outline: 0;
}

.formBox{
  input[type="text"], input[type="tel"], input[type="number"] {
		border-radius: .3rem;
		font-size: $font;
    display: block;
    width: 100%;
    height: 2.333rem;
    padding: 0 1rem;
		box-sizing: border-box;
  }
	select {
		height: 2.5rem;
		background-color: transparent;
		border: none;
	}
}

.border {
	border: 1px solid #aaa;
	border-radius: .2rem;
}
